
/*-- star common-area--*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.padding-80{
    padding: 80px 0;
}
/*-- end common-area--*/

/*-- star header-top--*/
.header-top{
    background-color: #F0FFF0;;
}

.navbar-brand img{
    width: 198.07px;
    height: 59px;
}
.bg-light {
    background-color: #F0FFF0!important;
}
/*-- end header-top--*/

/*-- star header-area--*/
.header-area{
    background-color:  #F0FFF0;
}
.header-area img{    
    width: 390px;
    height: 346px;
    padding:20px;
    
}
.header-body{
    background-color:  #f0fff0;
    border: none;
}
/*-- end header-area--*/

/*-- star books-area--*/
.single-books{
    width: 250px;
    height: 260px;
    padding: 20px;
    background-color:  #F8FFFB;
    border-radius: 10px;
    transition: .4s;
}
.single-books:hover{
    background-color: white;
    box-shadow: 0 10px 40px #908a8a;
}

.single-books img{
    width: 74px;
    height: 82px;
}
/*-- end books-area--*/

/* start course */
.course-icon{
    height: 20px;
    width: 20px;
}
/*end course */

/*-- star testimonial-area--*/ 
.Testimonial-area{
    background-color: #E5E5E5;
}
.test-article p{
    color: #000000;
    padding:20px ;   
    transition: .5s;
}
.test-article p:hover{
    background-color: white;
    box-shadow: 0 10px 40px #908a8a;
}
.test-img img{    
    width: 120px;
    height: 120px; 
    transition: .2s; 
}
.test-img img:hover{
    background-color: white;
    box-shadow: 0 10px 40px #908a8a;
}
/*-- end testimonial-area--*/

/*-- star team-area--*/  
.single-team{
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color:  #F8FFFB;
    border-radius: 10px;
    transition: .5s;
}
.single-team:hover{
    background-color: white;
    box-shadow: 0 10px 40px #908a8a;
}

.single-team img{
    width: 150px;
    height: 150px;
}

/*-- end team-area--*/

/*-- star blog-area--*/  
.card{    
    border-radius: 10px;
    transition: .5s;
}
.card:hover{
    background-color: white;
    box-shadow: 0 10px 40px #908a8a;
}
/*-- end blog-area--*/

/*-- star contact-area--*/  
.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    }
.contact-form input[type="submit"] {
    background-color:#28a745;
    color: #fff;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    }
    
.contact-form iframe {
    width: 100%;
    height: 270px;
    }
 /*-- end contact-area--*/ 
  
/*-- star footer-area--*/  
.footer-area{  
    padding: 50px 30px; 
    margin: 10px 20px;
    background-color:#282531; ;
}
.footer-area h6{
    padding-top:10px;
    color: #FFFFFF;;
}
.footer-area  ul li a{ 
  padding-top:5px; 
  text-align:left;
  display:block;
  color: #FFFFFF;
}

.footer-area p{
    padding-top:45px;
    color: #CDCDCD;    
}
/*-- end footer-area--*/
